<?php /** @var Lpc_LePotCommunPaymen_Block_Advertisement $this */ ?>

<div class="lpc-advertisement" style="text-align:center;">
    <p><?php echo $this->__('pay with your kitty')?></p>
    <a href="<?php echo $this->getRedirectUrl(); ?>" style="margin: auto; display: block; width: 150px;" target="_blank">
        <img src="<?php echo $this->getAdvertisementSrc(); ?>" alt="Now accepting Le Pot Commun"/>
    </a>
</div>