<?php /** @var Lpc_LePotCommunPaymen_Block_Form $this */ ?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <li class="form-alt">
        <?php echo $this->__('You will be redirected to lepotcommun.fr after submitting the order.'); ?>
    </li>
</ul>
